.emote:hover{
  background-color: rgb(220, 220, 220);
}
@media screen and (min-width: 600px) {

  .playbox {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .result
  {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .reset{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user{
    width:30rem;
    height:auto;
  }
  .box{
    width: 30rem;
  }
  .para{
    font-size: 3rem;
  }
  .vs{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}